extends ../layouts/default

block main
  h1= title

block content
 table.pure-table.pure-table-bordered
    thead
      tr: th Date
          th Id
          th Message
          th From
          th Tags
    tbody
      - if (messages.length)
        - each message in messages
          tr
            td 
              span.muted= formatDate(message.date)
            td
              a(href='/messages/'+message._id, title=message.extern_id) #{message.extern_id}
            td
              p= message.text
            td
              p= message.from
            td
              - if (message.tags)
                | &nbsp; - &nbsp;
                span Tags &nbsp;
                - each tag in message.tags.split(',')
                  i.muted.fa.fa-tag &nbsp;
                  a.tag(href="/tags/"+tag)= tag
                  | &nbsp;&nbsp;


      - if (pages > 1)
        ul.pagination
          != createPagination(pages, page)

