extends ../layouts/default

block main
  h1= title
  input(id='lastId',type='hidden',name='lastId',value='#{lastId}')
  input(id='page',type='hidden',name='page',value='#{page_action}')

block content
 - if (pages > 1)
   form#page_nav(action='/messages',method="get")
     input(id='page',type='text',name='page',value='#{pages}',size="2")
     input(type='submit',value='Go To Page')

 table.pure-table.pure-table-bordered
    thead
      tr: th Date
          th Id
          th Message
          th From
          th Tags
    tbody
      - if (messages.length)
        - each message in messages
          tr
            td 
              span.muted= formatDate(message.date)
            td
              a(href='/messages/'+message._id, title=message.extern_id) #{message.extern_id}
            td
              p= message.text
            td
              p= message.from
            td
              - if (message.tags)
                | &nbsp; - &nbsp;
                span Tags &nbsp;
                - each tag in message.tags.split(',')
                  i.muted.fa.fa-tag &nbsp;
                  a.tag(href="/tags/"+tag)= tag
                  | &nbsp;&nbsp;

 - if (pages > 1)
   form#page_nav(action='/messages')
     input(id='page_number',type='text',name='page_number',value='#{pages}',size="2")
     input(id='page_number_go',type='submit',name='page_number_go',value='Go To Page')
